In [1]:
import pandas as pd
import numpy as np
import datetime as dt
from sklearn.cluster import KMeans

In [2]:
data = pd.read_excel('Online Retail.xlsx')
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [4]:
data = data[data['CustomerID'].notnull()]

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 406829 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    406829 non-null  object
 1   StockCode    406829 non-null  object
 2   Description  406829 non-null  object
 3   Quantity     406829 non-null  int64
 4   InvoiceDate  406829 non-null  datetime64[ns]
 5   UnitPrice    406829 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      406829 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 27.9+ MB

In [6]:
data['InvoiceDay'] = data['InvoiceDate'].apply(lambda x: dt.datetime(x.year, x.month, x.day))

In [7]:
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,InvoiceDay
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,2010-12-01
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010-12-01
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,2010-12-01
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010-12-01
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010-12-01

In [8]:
dt.timedelta(1)

datetime.timedelta(days=1)

In [9]:
pin_date = max(data['InvoiceDay']) + dt.timedelta(1)
pin_date

Timestamp('2011-12-10 00:00:00')

In [10]:
data['TotalSum'] = data['Quantity'] * data['UnitPrice']
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,InvoiceDay,TotalSum
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,2010-12-01,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010-12-01,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,2010-12-01,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010-12-01,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010-12-01,20.34

In [11]:
rfm = data.groupby('CustomerID').agg({
    'InvoiceDay': lambda x: (pin_date - x.max()).days,
    'InvoiceNo': 'count',
    'TotalSum': 'sum'
})
rfm

            InvoiceDay  InvoiceNo  TotalSum
CustomerID
12346.0            326          2      0.00
12347.0              3        182   4310.00
12348.0             76         31   1797.24
12349.0             19         73   1757.55
12350.0            311         17    334.40
...                ...        ...       ...
18280.0            278         10    180.60
18281.0            181          7     80.82
18282.0              8         13    176.60
18283.0              4        756   2094.88
18287.0             43         70   1837.28

[4372 rows x 3 columns]

In [12]:
data[data['CustomerID'] == 12346.0]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,InvoiceDay,TotalSum
61619,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.04,12346.0,United Kingdom,2011-01-18,77183.6
61624,C541433,23166,MEDIUM CERAMIC TOP STORAGE JAR,-74215,2011-01-18 10:17:00,1.04,12346.0,United Kingdom,2011-01-18,-77183.6

In [13]:
rfm.rename(columns= {
    'InvoiceDay': 'Recency',
    'InvoiceNo': 'Frequency',
    'TotalSum': 'Monetary'
}, inplace=True)
rfm

            Recency  Frequency  Monetary
CustomerID
12346.0         326          2      0.00
12347.0           3        182   4310.00
12348.0          76         31   1797.24
12349.0          19         73   1757.55
12350.0         311         17    334.40
...             ...        ...       ...
18280.0         278         10    180.60
18281.0         181          7     80.82
18282.0           8         13    176.60
18283.0           4        756   2094.88
18287.0          43         70   1837.28

[4372 rows x 3 columns]

In [14]:
r_labels = range(4, 0, -1) #[4, 3, 2, 1]
r_groups = pd.qcut(rfm['Recency'], q=4, labels=r_labels)
f_labels = range(1, 5) # [1, 2, 3, 4]
f_groups = pd.qcut(rfm['Frequency'], q=4, labels=f_labels)
m_labels = range(1, 5)
m_groups = pd.qcut(rfm['Monetary'], q=4, labels=m_labels)

In [15]:
rfm['R'] = r_groups.values
rfm['F'] = f_groups.values
rfm['M'] = m_groups.values
rfm

            Recency  Frequency  Monetary  R  F  M
CustomerID
12346.0         326          2      0.00  1  1  1
12347.0           3        182   4310.00  4  4  4
12348.0          76         31   1797.24  2  2  4
12349.0          19         73   1757.55  3  3  4
12350.0         311         17    334.40  1  1  2
...             ...        ...       ... .. .. ..
18280.0         278         10    180.60  1  1  1
18281.0         181          7     80.82  1  1  1
18282.0           8         13    176.60  4  1  1
18283.0           4        756   2094.88  4  4  4
18287.0          43         70   1837.28  3  3  4

[4372 rows x 6 columns]

In [16]:
X = rfm[['R', 'F', 'M']].values
kmeans = KMeans(n_clusters=5)
kmeans.fit(X)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

AttributeError: 'NoneType' object has no attribute 'split'

In [ ]:
kmeans.labels_

In [ ]:
rfm['kmeans_cluster'] = kmeans.labels_

In [ ]:
rfm

In [29]:
rfm['CustomerID'] = rfm.index

In [30]:
rfm

            Recency  Frequency  Monetary  R  F  M  kmeans_cluster  CustomerID
CustomerID
12346.0         326          2      0.00  1  1  1               1     12346.0
12347.0           3        182   4310.00  4  4  4               4     12347.0
12348.0          76         31   1797.24  2  2  4               0     12348.0
12349.0          19         73   1757.55  3  3  4               0     12349.0
12350.0         311         17    334.40  1  1  2               1     12350.0
...             ...        ...       ... .. .. ..             ...         ...
18280.0         278         10    180.60  1  1  1               1     18280.0
18281.0         181          7     80.82  1  1  1               1     18281.0
18282.0           8         13    176.60  4  1  1               3     18282.0
18283.0           4        756   2094.88  4  4  4               4     18283.0
18287.0          43         70   1837.28  3  3  4               0     18287.0

[4372 rows x 8 columns]

In [37]:
data.join(rfm, on='CustomerID', rsuffix='rfm').groupby('kmeans_cluster')['StockCode'].agg(lambda col: ','.join([str(x) for x in col]))

kmeans_cluster
0    85123A,71053,84406B,84029G,84029E,22752,21730,...
1    21258,82484,84755,22464,21324,22457,22469,2247...
2    22086,21754,21755,21523,21363,21411,22318,2246...
3    22783,22961,22960,22663,85049A,22168,22662,221...
4    84879,22745,22748,22749,22310,84969,22623,2262...
Name: StockCode, dtype: object

In [20]:
rfm[rfm['kmeans_cluster'] == 4]

            Recency  Frequency  Monetary  R  F  M  kmeans_cluster
CustomerID
12347.0           3        182   4310.00  4  4  4               4
12357.0          34        131   6207.67  3  4  4               4
12359.0           8        254   6245.53  4  4  4               4
12362.0           4        274   5154.58  4  4  4               4
12364.0           8         85   1313.10  4  3  3               4
...             ...        ...       ... .. .. ..             ...
18241.0          10        105   2058.09  4  4  4               4
18245.0           8        177   2507.56  4  4  4               4
18257.0          40        123   2265.38  3  4  4               4
18272.0           3        170   3064.78  4  4  4               4
18283.0           4        756   2094.88  4  4  4               4

[1017 rows x 7 columns]

In [21]:
customers_g4 = list(rfm[rfm['kmeans_cluster'] == 4].index)
top_products_g4 = data.query('CustomerID == @customers_g4').groupby(['StockCode'])['InvoiceNo'].count().sort_values(ascending=False).head(10)
top_products_g4

StockCode
85123A    1209
85099B    1184
22423     1141
20725     1036
47566      839
23203      836
20727      831
84879      793
22383      785
22197      781
Name: InvoiceNo, dtype: int64

In [22]:
rfm[rfm['kmeans_cluster'] == 4].mean()

C:\Users\kavia\AppData\Local\Temp\ipykernel_1576\876358149.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  rfm[rfm['kmeans_cluster'] == 4].mean()

Recency             12.427729
Frequency          254.446411
Monetary          5717.089243
kmeans_cluster       4.000000
dtype: float64

In [21]:
rfm.mean()

C:\Users\kavia\AppData\Local\Temp\ipykernel_10184\1356782425.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  rfm.mean()

Recency             92.581199
Frequency           93.053294
Monetary          1898.459701
kmeans_cluster       2.023102
dtype: float64